/* Global styles for body */
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* Center the container horizontally */
    background-color: #fefefe;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
}

/* Center container with 60% width */
.container {
    width: 60%;
    /* 60% of the screen width */
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

/* Header (time container) */
.time-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 15px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.time-icon {
    width: 18px;
    height: 18px;
}

#time-display {
    font-size: 12px;
}

/* Footer */
.copyright-text {
    text-align: center;
    margin-top: auto;
    padding: 10px 0;
    font-family: "Dosis", serif;
}

/* Main content */
.centered-text {
    font-size: 28px;
    color: #333;
    text-align: center;
}

.blinking-underscore {
    animation: blink 1.5s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* Rectangle styles */
.row {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.rectangle {
    width: 300px;
    height: 200px;
    border-radius: 15px;
    box-shadow: 7px 7px 0px #48A6A7;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.rectangle-text {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
}

.rectangle:hover {
    transform: translateY(-10px) scale(1.1);
    box-shadow: 5px 5px 12px #5bcefa;
}

/* Social links container */
.social-links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Individual social link */
.social-link {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-link:hover {
    color: #5bcefa;
}

/* Background colors for specific rectangles */
.row:nth-child(2) .left {
    background-color: #e8d8c9;
}

.row:nth-child(2) .right {
    background-color: #872341;
}

.row:nth-child(3) .left {
    background-color: #09122c;
}

.row:nth-child(3) .right {
    background-color: #f3711d;
}

/* Responsive styles */
@media (max-width: 600px) {
    .container {
        width: 90%;
        /* Adjust for small screens */
    }

    .rectangle {
        width: 140px;
        height: 100px;
    }

    .rectangle-text {
        font-size: 12px;
    }

    .copyright-text {
        font-size: 14px;
    }
}